:root {
    --primary-color: #0d2b8dad;
    --secondary-color: #550c99;
    --primary-font: Arial, Helvetica, sans-serif;
    --primary-font-color: #000000;
    --secondary-font-color: #ffff;
} 

* {
    scrollbar-color: var(--secondary-color) var(--secondary-font-color);
}


body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    padding: 0 30px;
    height: auto;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
}

header{
    margin-bottom: 10px;
    padding: 0 10px 5px 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.navbar {
    text-align: center;
    height: auto;
}

.navbar ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    align-items: stretch;
}

.navbar li {
    list-style-type: none;
    margin: 0 10px;
    width: 100px;
    padding: 5px 5px;
    align-content: center;
}

.navbar li a {
    text-decoration: none;
    color: var(--secondary-font-color);
    display: block;
    align-content: center;
    height: 100%;
}

main {
    margin: 10px 0 10px 0;
}

.mainsection {
    text-align: center;
}


.imgindex {
    display: flex;
    justify-content: center;
}

.prodRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.prodRow article {
    margin: 20px 30px;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    width: 20%;
    padding: 20px;
}

.prodRow article p {
    text-align: center;
    width: 80%;
    margin: auto;
}

.blogs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blogs article {
    width: 40%;
    margin: 20px;
    text-align: center;
}








.contentform {
    display: flex;
    justify-content: center;
}

form {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.contentform form input, textarea {
    border-radius: 5px;
    border-style: none;
    margin: 5px;
    height: 25px;
    width: 80%;
}

.msg {
    resize: vertical;
    overflow-y: hidden;
    box-sizing: border-box;
}

.button:hover {
    background-color: #550c99;
}

.aboutme {
    display: flex;
    flex-direction: row;
}

.aboutme div {
    width: auto;
    height: auto;
}

figure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

figure img {
    height: 250px;
    width: 170px;
    
}




footer {
    margin-top: 10px;
    text-align: center;
    padding: 5px 0;
    background-color: #000000;
    border-radius: 10px;
    color: var(--secondary-font-color);
    margin-top: auto;
}

